.step-four-application{
  max-width: $container-max-width;
  width: 100%;
  margin: auto;
  background: $color-white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include box-shadow($z-depth-2);
  .img-application-finish{
    width: 230px;
  }
}