.content-buttons{
  display: flex;
  justify-content: space-between;
}
.siblings-step-two{
  .img-container-siblings{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: calc(50% - 40px);
    display: block;
    z-index: 499;
  }
}