$filter-width-xlg: 332px;
$filter-width-lg: 280px;

@import './allocationQuotasSections/allocationFiltersPartial';
@import './allocationQuotasSections/allocationStudentsPartial';

.allocation-quotas{
  .filters-container{
    width: $filter-width-xlg;
    @media #{$extra-large-and-down} {
      width: $filter-width-lg;
    }
  }
  .allocation-container{
    max-width: calc(100% - #{$filter-width-xlg});
    @media #{$extra-large-and-down} {
      max-width: calc(100% - #{$filter-width-lg});
    }
  }
}