.costs-view{
  margin-bottom: 5rem;
  height: 100%;
  width: 100%;
  .no-data-container{
    max-width: 600px;
    margin: auto;
  }
  .button-save{
    background: $color-white;
    position: fixed;
    bottom: 0;
    width: calc(100% - 330px);
    left: 315px;
  }
  .tabs-container{
    max-width: 100%;
    overflow-x: auto;
    .tabs-content{
      width: max-content;
    }
  }
}
.icon-text-hover{
  div{
    font-size: 12px;
  }
  &:hover{
    div{
      color: $color-warning;
    }
  }
}
.add-quota-button{
  border-width: 2px!important;
  width: 150px;
}