.structures-view{
  .no-data-container{
    max-width: 600px;
    margin: auto;
  }
  .level-container{
    &:hover{
      background: color('secondary', 'lighten-5');
    }
    .delete-icon{
      border-radius: 50%;
      display: inline-block;
      width: 3rem;
      text-align: center;
      height: 3rem;
      line-height: 3.5rem;
      &:hover{
        background: color('secondary', 'lighten-4');
        svg{
          path{
            fill: $color-warning;
          }
        }
      }
    }
  }
}